.env/
__pycache__/
images_lib/chars/blue/
images_lib/chars/red/
images_lib/chars/testfield/red/
images_lib/chars/testfield/
images_lib/chars/testfield
images_lib/buildcrop.png
images_lib/build_compare.png
images_lib/scorecrop.png
images_lib/screenshot_PIL.png
arambot_lib/mcf_status.png
deprecated/
stats_field/
tests.py
test_recog_ssim.py
apikey.txt
riot_api.txt
updates.txt
.mcfenv
suggestions.txt
api.txt
OTHERs.py
bot_test.py
chrome-win64/
MCF_dev.bat
ARAM_BOT.bat
bt_s.py
.pybotenv/