.env/
__pycache__/
images_lib/chars/red/
images_lib/chars/blue/
tests.py
apikey.txt
riot_api.txt
updates.txt
.mcfenv
suggestions.txt
api.txt
OTHERs.py
bot_test.py
chrome-win64/
MCF_dev.bat
ARAM_BOT.bat
bt_s.py